language: go

go:
  - 1.4.2

install:
  - go get -u github.com/golang/lint/golint
  - go get -u golang.org/x/tools/cmd/cover
  - go get -u golang.org/x/tools/cmd/vet
  - test -z "$(go fmt)"
  - test -z "$(golint)"
  - test -z "$(go vet)"

script: go test -v -tags=debug -bench=. && go test -covermode=atomic && go install

sudo: false
